<template>
    <div className="flex flex-col gap-y-2 py-4">
        <el-collapse v-model="active" accordion>
            <el-collapse-item v-for="item, key, index in items" :title="key" :name="index">
                <template #title><span className="text-base font-bold px-2" v-html="`${index + 1}.${key}`"></span></template>
                <span className="text-base">{{ item }}</span>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue'
const active = ref()
const items = reactive({
    "Weston": "SJ Renshaw,10th April, one week, Mary Jones, 22 King’s Road, Weston",
    "Cheryl": "Australian, teacher, Portuguese, Tuesday, 2.30,4.30 p.m",
    "Toshi": "23 Mount Road, Oxford, Japanese, Engineer, KeiKo, 15 April",
    "Kevin": "21 May, Paris, 18.25, a suitcase, clothes",
    "Alice": "Barazilian,receptionist,26 Park Road, Oxford, Study English, two months",
    "Helen": "Canadian, history, French and German, Brown’s Hotel, August",
    "Stephen": "Lulu Jones, 22 August, 47 Shirley Road, York, 15 pourds,happy Birthday",
    "Maria": "Mes Bell, piano,modern music, Thursday, 3.30 p.m",
    "Jane": "Manchester, 14 March, 12.45, hand bag, 723419",
    "Mary’s": "play tennis, Jack, Brighe cafe, Spanish guitar, 16.50 pourds",
    "City": "Anna Dahlin, Italian, Tuesday, 6 p.m, 180 pourds",
    "Book": "922769, A Boy’s life, Mick Blake, 12.99 pounds, 19th December",
    "Sarika’s": "Storm, 11 a.m, 23rd June, 3, 6 pounds",
    "Sara": "Train, Regent Hotel, Cathedral, 5.50 pounds, castle",
    "Marina’s": "tennis, Thursday, 8 p.m, 3, 30pounds",
    "Nina’s": "Tuesday, Italian food, 7.30 p.m, eighteen, 20 pounds",
    "Joan’s": "waitress, Saturday, 6,357550,4 pounds",
    "David": "London, 5 january, bus stop, 7.10 p.m, 550 pounds",
    "Notes": "977886, Wednesday, 14 May, 3 p.m, car park",
    "Shool": "4A, Walton Zoo, train, 6th January, 10 pounds",
})
</script>