<template>
    <div className="flex flex-col gap-y-2 py-4">
        <el-collapse v-model="active" accordion>
            <el-collapse-item v-for="item,  key,  index in items" :title="key" :name="index">
                <template #title><span className="text-base font-bold px-2" v-html="`${index+1}.${key}`"></span></template>
                <span className="text-base px-2">{{ item }}</span>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue'
const active = ref()
const items = reactive({
    "BICYCLES": "was, could, when, bought, their, faster, still, there", 
    "HISTORY": "flew, in, lot, faster, can, from, by, them", 
    "OSTRICK": "than, in, few, but, their, an, for, eat", 
    "THE RUWEN": "with, through, because, could, one, for, best, done", 
    "LINE": "every, says, in, best, there, during, did, ago", 
    "OTTERS": "near, out, an, keeps, its, for, few, because", 
    "CERNE": "there, these, next, knows, long, get, go, from", 
    "POSTCARDS": "have, can, eat, when, better, at, or, see, not", 
    "CROCODILES": "in, can, eat, like, more, these, bigger, for", 
    "BEARS": "climbing, like, their, largest, one, all, many, it", 
    "HISTORY ": " were, began, it, one, because, enough, can, is", 
    "GLOBE": "these, if, going, were, their, some, near, about", 
    "PARROTS": "fourd, because, sometime, there, for, can very, doing", 
    "RACING": "been, ago, in, between, much, each, is, any", 
    "BIG CATS": "from, but, it, only, live, other all, very", 
    "BUILDING": "so, other, many, be, it, every, in, made", 
    "LONDON": "let, still, much, had, in, when, there, each", 
    "BADGERS": "these, be, for, from, kept, there, some, come", 
    "DOLPHINS": "one, it, even, talking, like, by, much, are", 
    "SHIPS": "them, it, many, enough, carried, a, some, so", 
})
</script>