<template>
    <div className="flex flex-col gap-y-2 py-4">
        <div className="flex gap-x-4 justify-between px-2 hover:bg-green-200 " v-for="item, key, index in items">
            <span className="font-bold">{{ index + 1 }}.{{ key }}: </span>
            <div className="flex divide-x divide-blue-500 ">
                <el-popover width="70" popper-class="!p-0 flex flex-nowrap flex-col !min-w-[70px]" trigger="hover"
                    v-for="(answer) in item.split('-')">
                    <template #reference>
                        <span class="px-2 cursor-pointer">{{ answer }}</span>
                    </template>
                    <div class="text-center">{{  ghosts(answer)  }}</div>
                </el-popover>

            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
const items = reactive({
    "Canada": "A-C-B-C-B-B-A",
    "Esther’s": " C-B-C-A-B-C-A",
    "Rebecca": "B-B-C-B-A-A-B",
    "Working": "B-B-A-C-A-B-A",
    "Bonnier": "A-A-A-B-C-C-B",
    "Bill Prince": "A-B-A-B-B-C-B",
    "Stephen": "A-C-B-B-B-A-C",
    "John": "A-B-C-A-A-B-C",
    "Bill Bryson": "A-A-C-B-A-C-B",
    "Snowboarding": "A-C-B-A-B-A-B",
    "Ice": "A-B-A-C-B-B-A",
    "Corryvale": "B-C-A-C-B-B-A",
    "A great": "A-B-B-C-B-A-C",
    "Piano": "B-C-B-C-A-B-A",
    "World": "A-C-B-C-A-B-B",
    "Bollywood": "B-A-A-C-A-B-C",
    "Sean": "A-B-B-C-B-A-A",
    "Chloe": "B-A-C-A-A-B-C",
    "Rob": "B-B-C-A-C-A-A",
    "Cups": "B-B-B-A-B-A-C"
})

const ghosts = function (answer: string) {
    if (answer == "A") return  "Right"
    if (answer == "B") return  "Wrong"
    if (answer == "C") return  "Doesn’t"
}
</script>