<template>
    <div className="flex flex-col text-sm px-1">
        <b class="mb-1">1. Dear Tom </b>
        <p>You have asked me to go swimming tomorrow evening. </p>
        <p>I can’t go because I must do my homework. </p>
        <p class="mb-4">I can meet you on Sunday in my home. </p>

        <b class="mb-1">2. Dear Alex </b>
        <p>You are going to visit my country next month. </p>
        <p>You can see me. The weather is very cold. </p>
        <p class="mb-4">You should bring the clothes: sweaters, coats, shoes. </p>

        <b class="mb-1">3. Dear Tom </b>
        <p>I am going to have a party. </p> 
        <p class="mb-4">Can You come to my party? The party is at 7 pm tomorrow in my home. </p>

        <b class="mb-1">4. Dear Chris </b>
        <p>You  have got my cassette recorder. </p> 
        <p>Can you give it to me?</p> 
        <p class="mb-4">I need it on Monday in my home because I must do my English homework. </p>

        <b class="mb-1">5. Dear Paul </b>
        <p>I am going to visit you on Saturday. </p> 
        <p>I will get there by bus. </p>
        <p>I will arrive at 8 am. </p> 
        <p class="mb-4">We shall play game when I come. </p>

        <b class="mb-1">6. Dear Chris </b>
        <p>I didn’t come to the party last night because I must do my English homework. </p>
        <p>I can meet you on Saturday. </p> 
        <p class="mb-4">I want to play game with you. </p>

        <b class="mb-1">7. Dear Gary Jones </b>
        <p>I have got a bicyle to sell. </p>
        <p>It costs 150 pourds. </p> 
        <p>I bought it 2 years ago. </p>
        <p class="mb-4">You can see it today in my house . </p>

        <b class="mb-1">8. Dear Jenny </b>
        <p>I am going to go walking with you next Friday. </p>
        <p>I can go walking in the park. </p>
        <p>I am going to wear a T-shirt, a jeans and a shoes. </p> 
        <p class="mb-4">You should bring some food and drink. </p>

        <b class="mb-1">9. Dear Spencer </b>
        <p>Let’s meet for dinner near my house on Saturday. </p> 
        <p>We shall eat at the ABC restaurant. </p>
        <p>I can come at 6 pm. </p> 
        <p class="mb-4">You can park your car in front of my house. </p>

        <b class="mb-1">10. Dear Alex </b>
        <p>Hello. I am 22 years old. </p> 
        <p>I have got 2 sisters and a younger brother. </p>
        <p class="mb-4">My favourite hobbies are listening music, watching movie and shopping. </p>

        <b class="mb-1">11. Dear Tom </b>
        <p>I  have just had a brithday. </p> 
        <p>The present was a lipstick. </p> 
        <p>My  friend got it for me. </p>
        <p class="mb-4">I like it because It’s color is very beautiful. </p>

        <b class="mb-1">12. Dear Ally </b>
        <p>You couldn’t come to my brithday party. </p> 
        <p>At the party I cooked many dishes and decorated it beautifully. </p> 
        <p>There are my family. </p> 
        <p class="mb-4">My  presents were a book, a coat, . </p>

        <b class="mb-1">13. Dear Mike </b>
        <p>I finally bought a mobile phone. </p>
        <p>I like it because it’s easy to use. </p> 
        <p>It costs 50 pounds. </p>
        <p class="mb-4">It’s colour is pink. </p>

        <b class="mb-1">14. Dear Marry </b>
        <p>I have just watched a sports competition. </p>
        <p>I watched a football competition. </p> 
        <p>I watched it with my brother. </p> 
        I liked the competition because
        <p class="mb-4">I liked Messi and my favourite team won the competition. </p>

        <b class="mb-1">15. Dear Dinh </b>
        <p>Yesterday, I went shopping for clothes. </p> 
        <p>I bought a dress and a shoes because they are beautiful. </p> 
        <p class="mb-4">They costs 50 pounds. </p>

        <b class="mb-1">16. Dear Sarah </b>
        <p>You would like to play tennis this evening. </p> 
        <p>We shall meet at 6 pm in my house. </p> 
        <p>We are going to the sports centre by bike. </p> 
        <p class="mb-4">You should wear a sports shoes. </p>

        <b class="mb-1">17. Dear Nick </b>
        <p>We are going to do a concert at school. </p> 
        <p>I like modern music. </p> 
        <p>I can sing, dance in the concert. </p>
        <p class="mb-4">I am free to come to a meeting about the concert on Sunday. </p>

        <b class="mb-1">18. Dear Friend </b>
        <p>I have left at your house my coat. </p>
        It is very important 
        <p>because it was a present from my mother. </p> 
        <p class="mb-4">I think I left the coat at your hall. </p>

        <b class="mb-1">19. Dear Jo </b>
        You can’t find the information about 
        <p>the new art class after school. </p> 
        <p>The class is on Monday. </p>
        <p>It is a very good class. </p>
        <p>It is three hours long. </p> 
        <p class="mb-4">You don’t have to bring anything. </p>

        <b class="mb-1">20. Dear Robbie </b>
        <p>I am going to paint my bedroom. </p>
        <p>I’ll going paint my bedroom on Saturday at 8 am. </p> 
        <p>Bring a T-shirt and a pair of jeans. </p> 
        <p class="mb-4">I will use pink colour.</p>

        <b class="mb-1">see you soon</b>
    </div>
</template>
