<template>
    <div className="flex flex-col gap-y-2 py-4">
        <div className="flex gap-x-4 px-2 hover:bg-green-200 " v-for="item, key, index in filter(items, $route?.query?.search as string)">
            <span className="font-bold" v-html="`${index + 1}.${key}:`"></span>
            <div className="flex divide-x divide-blue-500 ml-auto"> 
                <el-popover popper-class="!p-0 flex flex-nowrap flex-col" trigger="hover" v-for="answer in item.split('-')" >
                    <template #reference>
                        <span class="px-2 cursor-pointer">{{ answer }}</span>
                    </template>
                    <el-image class="max-w-[150px]" :src="url(index + 1, answer.toLowerCase())" fit="contain"/>
                </el-popover>
            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
import { filter, url } from "../utils"
const items = reactive({
    "CHILDREN": "H-F-E-A-G",
    "YOU CAN’T LEAVE&nbsp;": "C-G-E-D-A",
    "NOT ALL": "D-A-C-B-E",
    "YOU CAN LISTEN": "C-F-G-A-E",
    "THESE-them": "E-C-A-G-B",
    "YOUNG PEOPLE": "E-D-G-B-A",
    "YOU MUST NOT": "G-B-D-H-A",
    "YOU MUST HAVE": "D-H-B-A-E",
    "THIS IS NOT": "A-C-D-B-F",
    "THEY NEED": "G-B-F-A-E",
    "YOU CAN’T LEAVE": "C-G-A-B-F",
    "YOU CAN’T COME": "B-F-D-A-G",
    "THIS IS ONLY": " H-B-C-G-D",
    "IF YOU NEED": "D-B-A-H-F",
    "YOU CAN USE": "F-E-A-C-B",
    "YOU CAN LEARN": "H-F-A-G-C",
    "THESE COST": "G-D-A-E-C",
    "IF YOU WANT": "F-H-E-D-B",
    "IF YOU HAVE": "E-G-F-D-B",
    "YOU CANNOT TRAVEL": "D-C-G-A-F",
});
</script>
