<template>
    <div className="flex flex-col gap-y-2 py-4">
        <el-collapse v-model="active" accordion>
            <el-collapse-item v-for="item, key, index in filter(items, $route?.query?.search as string)" :title="key" :name="index">
                <template #title><span className="text-base font-bold px-2" v-html="`${index+1}.${key}`"></span></template>
                <span className="text-base px-2">{{ item }} ({{ item.split(",").length  }})</span>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue'
const active = ref()
import { filter } from "../utils"
const items = reactive({
    "Maria": "in, like, much, how, you, on, costs, to, the, it",
    "Johnson": "last, on, a, is, have, am, you, to, can, opents",
    "Isabllea": "to, with, at, we, this, to, am, ask, you, about",
    "Lorenzo": "told, have, are, a, the, were, me, you, to, on",
    "Lynne": "for, your, was, are, of, they, them, am, will, time",
    "Ahmed": "this, go, from, it, every, have, lot, about, a, wearing, do",
    "Brian": "any, to, this, with, are, be, will, a, say, me",
    "Maria &nbsp;": "of, when, was, like, next, lot, have, how, are, it",
    "David": "with, where, there, would, you, are, have, her, has, will",
    "Madam": "for, to, with, a, book, the, there, will, time, when",
    "Jeff": "ago, it, every, are, last, the, colours, to, of",
    "Anna": "a, than, with, go, up, to, me, it, her, if",
    "Indre": "with, be, on, have, are, to, of, lot, would, or",
    "Deshini": "am, was, about, would, or, what, have, a, next, to",
    "Keira": "in, named, where, am, than, the, of, him, a, to",
    "Gabriella": "to, look, about, any, a, how, it, would, do, soon",
    "Kate": "on, are, with, she, and, have, eat, if, in, hope",
    "Kenny": "an, lot, there, them, can, if, in, go, at, me",
    "Sara Lewis": "of, be, does, me, they, would, have, this, send, about",
})
</script>