<template>
    <div className="flex text-sm flex-col gap-y-1 p-1 text-nowrap overflow-x-auto">
        <p className="hover:bg-green-200 p-[3px] text-sm" v-for="(item, index) in groups(items, 5)">
            <template v-for="(answer, i) in item">
                <b v-if="index % 5 == 0">  
                    {{ answer }}<template v-if="i < 4">, </template>
                </b>
                <span v-else>  
                    {{ answer }}<template v-if="i < 4">, </template>
                </span>
            </template>
           
        </p>
    </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue';
const items = reactive([
    "Uncle",
    "Key",
    "Dictionary",
    "Tent",
    "Beach",
    "Grandmother",
    "Glasses",
    "Magazine",
    "Guitar",
    "Suitcase",
    "Wife",
    "Money",
    "Diary",
    "Magazines",
    "Passport",
    "Daughter",
    "Comb",
    "Message",
    "Boots",
    "Towel",
    "Aunt",
    "Diary",
    "Newspaper",
    "Video",
    "Postcard",
    "Book",
    "Garage",
    "Happy",
    "Library",
    "Library",
    "Reception",
    "Bridge",
    "Tired",
    "Newspaper",
    "Museum",
    "Tent",
    "Policeman",
    "Dirty",
    "Message",
    "Restaurant",
    "Double",
    "Crossroads",
    "Hungry",
    "Board",
    "College",
    "Beach",
    "Lights",
    "Thirsty",
    "Postcard",
    "Theatre",
    "Table",
    "Music",
    "Passport",
    "College",
    "Uniform",
    "Cupboard",
    "Present",
    "Camera",
    "Museum",
    "Pocket",
    "Window",
    "Glass",
    "Towel",
    "Station",
    "Coat",
    "Shelf",
    "Lemonade",
    "Suitcase",
    "Restaurant",
    "Jacket",
    "Shower",
    "Friends",
    "Magazine",
    "Stadium",
    "Socks",
    "Shoes",
    "Mountain",
    "Bowl",
    "Farmer",
    "Village",
    "Suit",
    "field",
    "Vegetable",
    "Mechanic",
    "Forest",
    "Shorts",
    "Island",
    "Waiter",
    "Journalist",
    "Hills",
    "Raincoat",
    "River",
    "Lemon",
    "Waiter",
    "Insect",
    "sweater",
    "Canal",
    "fry",
    "Photographer",
    "Bridge",
])

const groups = (items: Array<string>, size: number) => {
    return items.reduce((result: Array<any>, value: string, key: number) => {
        const index = Math.floor(key / size);
        if (!result[index]) {
            result[index] = [];
        }
        result[index]?.push(value);
        return result;
    }, []);
};


</script>