<template>
    <div className="flex flex-col gap-y-2 py-4">
        <div className="flex gap-x-4 justify-between px-2 hover:bg-green-200 " v-for="item, key, index in items">
            <span className="font-bold">{{ index + 1 }}.{{ key }}: </span>
            <div className="flex divide-x divide-blue-500 ">
                <el-popover width="70" popper-class="!p-0 flex flex-nowrap flex-col !min-w-[70px]" trigger="hover"
                    v-for="(answer, number) in item.split('-')">
                    <template #reference>
                        <span class="px-2 cursor-pointer">{{ answer }}</span>
                    </template>
                    <el-image class="max-w-[70px]" :src="urlPart(index + 1, answer.toLowerCase() + (number + 1) )" fit="contain" />
                </el-popover>

            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
import { urlPart } from "../utils"
const items = reactive({
    "Who’s that": "A-A-A-B-C",
    "John’s broken": "C-B-A-B-C",
    "Have a good": "A-A-C-C-B",
    "John’s going": "C-B-A-B-C",
    "Shall we": "A-A-A-C-B",
    "Let’s walk": "A-B-C-B-C",
    "I love": "A-B-C-C-A",
    "How far": "C-A-A-A-B",
    "It’s too": "B-A-B-C-B",
    "Are you sure": "C-C-B-A-A",
    "£500": "C-B-A-B-A",
    "Let’s listen": "A-A-C-B-C",
    "It’s my": "B-A-C-C-C",
    "How did": "B-B-C-A-A",
    "When will": "A-C-B-C-C",
    "I don’t": "B-C-A-A-A",
    "245-6780": "C-A-B-C-B",
    "Which shirt": "A-A-B-C-B",
    "Please": "B-A-B-A-C",
    "Are you going": "A-B-C-A-A",
})
</script>