<template>
    <div className="flex flex-col gap-y-2 py-4">
        <div className="flex gap-x-4 justify-between px-2 hover:bg-green-200 " v-for="item, key, index in filter(items, $route?.query?.search as string)">
            <span className="font-bold">{{ index + 1 }}.{{ key }}: </span>
            <div className="flex divide-x divide-blue-500 ">
                <el-popover width="50" popper-class="!p-0 flex flex-nowrap flex-col !min-w-[50px]" trigger="hover"
                    v-for="(answer, number) in item.split('-')">
                    <template #reference>
                        <span class="px-2 cursor-pointer">{{ answer }}</span>
                    </template>
                    <el-image class="max-w-[50px] h-[40px]" :src="urlPart(index + 1, answer.toLowerCase() + (number + 1) )" fit="contain" />
                </el-popover>

            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
import { filter, urlPart } from "../utils"
const items = reactive({
    "SHE…SOME": "A-A-B-C-C",
    "HE PUT": "B-C-C-A-B",
    "EVERYONE": "C-B-C-B-A",
    "HE…SAM": "B-A-B-A-C",
    "HE…a": "C-B-A-A-C",
    "SHE HOPES": "B-C-B-A-A",
    "MY MOTHER": "C-C-B-C-B",
    "HER": "A-C-B-C-B",
    "On Saturdays ": "A-B-C-C-B",
    "MARIA": "A-B-A-C-A",
    "SAM": "C-A-C-B-A",
    "INDIRA": "A-C-B-C-A",
    "MICHAEL": "B-C-A-B-C",
    "SALLY": "A-C-C-A-B",
    "LET’S": "B-C-A-C-A",
    "SARAL": "C-C-A-C-B",
    "TEENS": "C-A-B-A-B",
    "SHE…ALL": "B-A-B-B-C",
    "I finished": "A-C-B-A-A",
})
</script>