<template>
    <div className="flex flex-col gap-y-2 py-4">
        <div className="flex gap-x-4 px-2 hover:bg-green-200 "
            v-for="item, key, index in filter(items, $route?.query?.search as string)">
            <span className="font-bold" v-html="`${index + 1}.${key}:`"></span>
            <div className="flex divide-x divide-blue-500 ml-auto">
                <el-popover popper-class="!p-0 flex flex-nowrap flex-col" trigger="hover"
                    v-for="(answer, number) in item.split('-')">
                    <template #reference>
                        <span class="px-2 cursor-pointer">{{ answer }}</span>
                    </template>
                    <el-image class="max-w-[150px]" :src="urlList(index + 1, answer.toLowerCase() + (number + 1))" fit="contain" />
                </el-popover>
            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
import { filter, urlList } from "../utils"
const items = reactive({
    "Where the...centre": "A-B-B-B-C",
    "How will...Scollard?": "B-A-C-B-B",
    "What was...wednesday?": "B-A-C-C-A",
    "How much..car?": "C-A-B-C-A",
    "Which...mother?": "A-C-b-A-A",
    "When...holiday?": "A-C-B-A-B",
    "What’s George...now?": "C-B-C-A-C",
    "What are...pam?": "B-B-C-C-A",
    "What colour...now?": "C-A-A-B-A",
    "When did Gray...job?": "C-A-B-B-A",
    "What music...party?": "C-B-B-A-B",
    "What will...evening?": "B-C-C-B-B",
});
</script>