<template>
    <div className="flex flex-col text-sm p-2 gap-2">
        <p className="hover:bg-green-200" v-for="(item, _, index) in filter(items, $route?.query?.search as string)"><b>{{ index + 1 }}.</b> {{ item }}</p>
    </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
import { filter } from "../utils"
const items = reactive({
    "20": "£20 ->  gloves -> old -> 10.00 -> morning",
    "Tennis": "Tennis ->  £30 a year ->  3 -> 16 ->   Friday",
    "10 am": "10 am -> London -> a factory -> her hotel -> train",
    "Never": "Never ->  380 -> September -> a lake ->  by credit card",
    "a cafe": "a cafe -> food shop ->  on foot -> 12 -> flowers",
    "16": "£16 -> two photos -> in the ptg shop -> a letter -> office",
    "14": "14 -> 45p -> slow -> lights -> expensive",
    "2.00": "2.00 -> 75p -> 6weeks -> a pen -> today",
    "18": "18 -> 6 am -> a towel -> Sandwiches -> Thursday",
    "Clothes": "Clothes -> Tuesday -> £5.60 -> bus station -> 40pm",
    "Bus": "Bus -> Chinese -> full -> water -> windy",
    "6.45": "6.45 pm -> £75 -> getting -> trees -> make photograghy",
});
</script>