<template>
    <div className="flex flex-col text-sm px-1 gap-2">
        <div className="flex gap-2">
            <div className="p-2 bg-green-200 flex-auto">
                <p><b> Kate’s mother</b> -> hairdresser’s</p>
                <p><b>Tanya </b>-> shops</p>
                <p><b>Len </b>-> concert</p>
                <p><b>Tom </b>-> driving school</p>
                <p><b>Kate’s father</b>-> Spanish class</p>
            </div>
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>Tuesday</b> -> wind</p>
                <p><b>Wednesday </b>-> sun</p>
                <p><b>Thursday </b>-> cloud</p>
                <p><b>Friday </b>-> rain</p>
                <p><b>Saturday </b>-> warn</p>
            </div>
        </div>

        <div className="flex gap-2">
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>Sat afternoon</b> -> football match</p>
                <p><b>Sat evening </b>-> party</p>
                <p><b>Sun morning </b>-> bicycle ride</p>
                <p><b>Sun afternoon </b>-> the part</p>
                <p><b>Sun evening</b>-> watching</p>
            </div>
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>10 a.m</b> -> swim</p>
                <p><b>11 a.m </b>-> see teacher</p>
                <p><b>12 a.m </b>-> see bill</p>
                <p><b>1 a.m </b>-> have lunch</p>
                <p><b>2 a.m </b>-> art lesson</p>
            </div>
        </div>

        <div className="flex gap-2">
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>Martin</b> -> jeans</p>
                <p><b>Joanna </b>-> sweater</p>
                <p><b>Amy </b>-> dress</p>
                <p><b>James</b>-> hat</p>
                <p><b>Robert</b>-> t-shirt</p>
            </div>
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>Sally</b> -> filteen</p>
                <p><b>Vivienne </b>-> thirteen</p>
                <p><b>Roger </b>-> seven</p>
                <p><b>Frank </b>-> five</p>
                <p><b>Debroah </b>-> eighteen</p>
            </div>
        </div>

        <div className="flex gap-2">
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>Caroline</b> -> sea</p>
                <p><b>Jack </b>-> cathedral</p>
                <p><b>Sarah </b>-> market</p>
                <p><b>Peter</b>-> restaurant</p>
                <p><b>Sarah’s</b>-> museum</p>
            </div>
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>John</b> -> quiet</p>
                <p><b>Mary </b>-> Friendly</p>
                <p><b>Bob </b>-> young</p>
                <p><b>David </b>-> tall</p>
                <p><b>Sally </b>-> interesing</p>
            </div>
        </div>

        <div className="flex gap-2">
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>Swimming</b> -> noisy</p>
                <p><b>car park </b>-> small</p>
                <p><b>café </b>-> dirty</p>
                <p><b>football</b>-> late</p>
                <p><b>tennis</b>-> expensive</p>
            </div>
            <div className="p-2 bg-green-200 flex-auto">
                <p><b>dress</b> -> green -> cheap</p>
                <p><b>jacket </b>-> brown -> big</p>
                <p><b>sweater </b>-> orange -> soft</p>
                <p><b>coat </b>-> black -> light</p>
                <p><b>shoes</b>-> blue -> long</p>
            </div>
        </div>
    </div>
</template>
