<template>
  <div class="flex sticky top-0 z-50">
    <el-button className="w-full bg-blue-400 hover:bg-blue-500 text-sm text-white py-2 px-6 uppercase"
      @click="handleOpen">Menu {{ route.path.replaceAll("/", " ") }}</el-button>
      <el-popover trigger="hover" :width="300">
        <template #reference>
          <el-input ref="elRef" class="!rounded-0" v-model.trim="filter" clearable placeholder="Search" />
        </template>
        <div class="grid-cols-8 grid border-r-1 border-b-1 border-indigo-600">
          <div class="text-center text-sm px-0 py-2 cursor-pointer uppercase border-t-1 border-l-1 border-indigo-600" v-for="item in alphabet"  @click="handleAlpha">{{ item }}</div>
          <div class="text-center text-sm px-0 py-2 leading-5 cursor-pointer uppercase border-t-1 border-l-1 border-indigo-600 col-span-2" @click="handleSpace">Space</div>
          <div class="text-center text-sm px-0 py-2 leading-5 cursor-pointer uppercase border-t-1 border-l-1 border-indigo-600 col-span-2" @click="handleSearch"><el-icon class="w-4"><Search /></el-icon></div>
          <div class="text-center text-sm px-0 py-2 leading-5 cursor-pointer uppercase border-t-1 border-l-1 border-indigo-600 col-span-2" @click="handleClear"><el-icon class="w-4"><Back /></el-icon></div>
        </div>
    </el-popover>
  </div>
  <el-drawer :withHeader="false" v-model="drawer" direction="ltr" size="60%">
    <div className="flex text-sm flex-col gap-y-1" @click="handleClose">
      <RouterLink to="/one" class="py-2 px-4">Part 1 ()</RouterLink>
      <RouterLink to="/two" class="py-2 px-4">Part 2 ()</RouterLink>
      <RouterLink to="/three" class="py-2 px-4">Part 3 (hội thoại)</RouterLink>
      <RouterLink to="/four" class="py-2 px-4">Part 4 (trả lời đoạn văn)</RouterLink>
      <RouterLink to="/five" class="py-2 px-4">Part 5 (điền vào đoạn văn)</RouterLink>
      <RouterLink to="/six" class="py-2 px-4">Part 6 ()</RouterLink>
      <RouterLink to="/seven" class="py-2 px-4">Part 7 (điền vào bức thư)</RouterLink>
      <RouterLink to="/eight" class="py-2 px-4">Part 8 (trả lời câu hỏi)</RouterLink>
      <RouterLink to="/nine" class="py-2 px-4">Part 9 (trả lời bức thư)</RouterLink>
      <RouterLink to="/listen/one" class="py-2 px-4">Listen 1</RouterLink>
      <RouterLink to="/listen/two" class="py-2 px-4">Listen 2</RouterLink>
      <RouterLink to="/listen/three" class="py-2 px-4">Listen 3</RouterLink>
    </div>
  </el-drawer>
  <el-scrollbar always aria-orientation="horizontal">
    <RouterView v-slot="{ Component, route }">
      <Transition name="fade">
        <KeepAlive>
          <component :is="Component" :key="route" />
        </KeepAlive>
      </Transition>
    </RouterView>
  </el-scrollbar>

</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { alphabet } from "./utils"
import { useRoute, useRouter } from 'vue-router'
import { Search, Back } from '@element-plus/icons-vue'

const route = useRoute()
const router = useRouter()
const elRef = ref<HTMLElement|null>(null)

const filter = ref(route.query.search || "")
const handleAlpha = function (event: MouseEvent) {
  const target = event.target as HTMLElement; 
  if (!target.textContent) return 
  filter.value += target.textContent
  elRef.value?.focus()
}

const handleSearch = function () {
  const search: any = filter.value || ""
  if (!search.trim()) return router.push({ ...route, query: {}})
  router.push({ ...route, query: { search: search }})
}

const handleClear = function () {
  filter.value = filter?.value?.slice(0, filter.value.length -1) || ""
  elRef.value?.focus()
}

const handleSpace = function () {
  filter.value += " "
  elRef.value?.focus()
}


const drawer = ref(false)
const handleOpen = () => drawer.value = true
const handleClose = () => drawer.value = false
</script>