body {
  @apply relative-x overflow-hidden
}

#app {
  @apply fixed w-full h-full overflow-hidden flex flex-col
}

.router-link-active.router-link-exact-active {
  @apply bg-green-100
}

.el-drawer__body {
  @apply p-0
}

.fade-enter-active {
  transition: all 0.3s ease-in-out;
}

.fade-leave-active {
  transition: all 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.fade-leave-from,
.fade-enter-to {
  transform: translateX(0px);
  opacity: 1;
}

.text-nowrap {
  text-wrap: nowrap;
}


.el-collapse-item__header {
  height: 40px;
  line-height: 40px;
}

.el-popper.is-light .el-popper__arrow::before {
  @apply bg-green-800 border-green-800
}

.alphabet ul {
  @apply grid grid-cols-6 gap-4
}

.alphabet ul li {
  @apply p-2 h-full leading-none text-center
}